.section {
    min-height: 80vh;
  }
  .is-vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    margin-bottom: 35px;
  }
  .container {
    padding: 10px;
  }
  .column {
    margin: auto;
  }

  .quote {
      margin: -30px auto 50px;
      max-width: 500px;
  }