<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reporte</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/minty/bulmaswatch.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/footer.css">
    
    <script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
    <script type="text/javascript">
        (function () {
            emailjs.init("user_djaPZWhrJkKZhYgeQsDnz");
        })();
    </script>
</head>
<body>
    <div id="root">
        <app-nav></app-nav>
        <div class="hero-body">
            <div class="container">
                <div class="notification is-primary">
                    <h1 class="title is-h1 has-text-centered">REPORTE SEMANAL</h1>
                </div>
                <form v-on:submit.prevent="LoadData">
                    <div class="columns">
                        <div class="column">
                            <h1 class="title">Reporte Semanal</h1>

                            <div class="field">
                                <label class="label">Célula</label>
                                <div class="control has-icons-left">
                                    <input class="input is-medium" type="number" v-model="celula" placeholder="Número" oninvalid="this.setCustomValidity('Campos Obligatorios')"
                                        oninput="setCustomValidity('')" required />
                                    <span class="icon is-small is-left">
                                        <i class="fab fa-slack"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Verbo del Ciclo</label>
                                <div class="control has-icons-left">
                                    <div class="select">
                                        <select v-model="verbo">
                                            <option>1 - Orar</option>
                                            <option>2 - Anotar</option>
                                            <option>3 - Contactar</option>
                                            <option>4 - Confirmar</option>
                                            <option>5 - Desatar</option>
                                            <option>6 - Llevar</option>
                                            <option>7 - Motivar</option>
                                            <option>8 - Integar</option>
                                            <option>9 - Consolidar</option>
                                            <option>10 - Preparar</option>
                                            <option>11 - Santificar</option>
                                            <option>12 - Matricular</option>
                                            <option>13 - Conservar</option>
                                            <option>14 - Doctrinar</option>
                                            <option>15 - Discipular</option>
                                            <option>16 - Bautizar</option>
                                        </select>
                                    </div>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-hand-point-right"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Tema Impartido</label>
                                <div class="control has-icons-left">
                                    <div class="select">
                                        <select v-model="tema">
                                            <option>1 - La palabra fuente de vida</option>
                                            <option>2 - El origen del pecado</option>
                                            <option>3 - La necesidad del perdón de Dios</option>
                                            <option>4 - Características del Amor de Dios</option>
                                            <option>5 - El Compromiso y la bendición de la fe</option>
                                            <option>6 - ¿Que debo hacer para heredar la vida eterna?</option>
                                            <option>7 - Una oportunidad para todos</option>
                                            <option>8 - Él nos hizo dignos</option>
                                            <option>9 - Un Cambio de direccón</option>
                                            <option>10 - Experiencia transformadora</option>
                                            <option>11 - Hablando con Dios</option>
                                            <option>12 - El poder para atar y desatar</option>
                                            <option>13 - Tiempo de desiciones</option>
                                            <option>14 - Experiencia del retorno</option>
                                            <option>15 - Bautismo en el nombre de Jesucristo</option>
                                            <option>16 - Levántate y bautízate</option>
                                        </select>
                                    </div>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-book"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Lugar de Reunión</label>
                                <div class="control has-icons-left">
                                    <input class="input is-medium" v-model="lugar" type="text" placeholder="Dirección" oninvalid="this.setCustomValidity('Campos Obligatorios')"
                                        oninput="setCustomValidity('')" required>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-map-marker"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Día de Reunión</label>
                                <div class="control has-icons-left">
                                    <input id="datepicker" class="input is-medium" v-model="dia" oninvalid="this.setCustomValidity('Campos Obligatorios')" oninput="setCustomValidity('')"
                                        required>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-calendar-check"></i>
                                    </span>
                                </div>
                            </div>
                            
                        </div>
                        <div class="column">
                            <h3 class="title is-3">Asistencia General Total: {{total}}</h3>
                            <h5 class="title is-5">Bautizados, Total: {{bauRows.length}}</h5>
                            <div class="field has-addons">
                                <div class="control">
                                    <input class="input" v-model="bautizados" type="text" placeholder="Nombre completo">
                                </div>
                                <div class="control">
                                    <a class="button is-primary" v-on:click="AddRow(bautizados, bauRows)" v-if="bautizados != ''">
                                        Agregar
                                    </a>
                                </div>
                            </div>
                            <div class="field">
                                <table class="table is-fullwidth">
                                    <tr>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr v-for="row, index in bauRows">
                                        <td>
                                            <label class="label">{{row.name}}</label>
                                        </td>
                                        <td>
                                            <a class="tag is-danger" v-on:click="removeRow(index, bauRows)">Quitar</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <h5 class="title is-5">Amigos, Total: {{amiRows.length}}</h5>
                            <div class="field has-addons">
                                <div class="control">
                                    <input class="input" v-model="amigos" type="text" placeholder="Nombre completo">
                                </div>
                                <div class="control">
                                    <a class="button is-primary" v-on:click="AddRow(amigos, amiRows)" v-if="amigos != ''">
                                        Agregar
                                    </a>
                                </div>
                            </div>
                            <div class="field">
                                <table class="table is-fullwidth">
                                    <tr>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr v-for="row, index in amiRows">
                                        <td>
                                            <label class="label">{{row.name}}</label>
                                        </td>
                                        <td>
                                            <a class="tag is-danger" v-on:click="removeRow(index, amiRows)">Quitar</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <h5 class="title is-5">Niños, Total: {{ninRows.length}}</h5>
                            <div class="field has-addons">
                                <div class="control">
                                    <input class="input" v-model="ninos" type="text" placeholder="Nombre completo">
                                </div>
                                <div class="control">
                                    <a class="button is-primary" v-on:click="AddRow(ninos, ninRows)" v-if="ninos != ''">
                                        Agregar
                                    </a>
                                </div>
                            </div>
                            <div class="field">
                                <table class="table is-fullwidth">
                                    <tr>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr v-for="row, index in ninRows">
                                        <td>
                                            <label class="label">{{row.name}}</label>
                                        </td>
                                        <td>
                                            <a class="tag is-danger" v-on:click="removeRow(index, ninRows)">Quitar</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <h5 class="title is-5">Intermedios, Total: {{intRows.length}}</h5>
                            <div class="field has-addons">
                                <div class="control">
                                    <input class="input" v-model="inter" type="text" placeholder="Nombre completo">
                                </div>
                                <div class="control">
                                    <a class="button is-primary" v-on:click="AddRow(inter, intRows)" v-if="inter != ''">
                                        Agregar
                                    </a>
                                </div>
                            </div>
                            <div class="field">
                                <table class="table is-fullwidth">
                                    <tr>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr v-for="row, index in intRows">
                                        <td>
                                            <label class="label">{{row.name}}</label>
                                        </td>
                                        <td>
                                            <a class="tag is-danger" v-on:click="removeRow(index, intRows)">Quitar</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <h5 class="title is-5">Observaciones, Total: {{obsRows.length}}</h5>
                            <div class="field has-addons">
                                <div class="control">
                                    <input class="input" v-model="obs" type="text" placeholder="Nombre completo">
                                </div>
                                <div class="control">
                                    <a class="button is-primary" v-on:click="AddRow(obs, obsRows)" v-if="obs != ''">
                                        Agregar
                                    </a>
                                </div>
                            </div>
                            <div class="field">
                                <table class="table is-fullwidth">
                                    <tr>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr v-for="row, index in obsRows">
                                        <td>
                                            <label class="label">{{row.name}}</label>
                                        </td>
                                        <td>
                                            <a class="tag is-danger" v-on:click="removeRow(index, obsRows)">Quitar</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <label class="label">Ofrenda</label>
                                <div class="control has-icons-left">
                                    <input class="input is-medium" v-model="ofrenda" type="number" min="0.01" step="0.01" oninvalid="this.setCustomValidity('Campos Obligatorios')"
                                        oninput="setCustomValidity('')" placeholder="00.00" required>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-dollar-sign"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Elaborado Por</label>
                                <div class="control has-icons-left">
                                    <input class="input is-medium" v-model="elaborado" type="text" placeholder="Nombre completo" oninvalid="this.setCustomValidity('Campos Obligatorios')"
                                        oninput="setCustomValidity('')" required>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-edit"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="field is-grouped is-grouped-centered">
                                <div class="control">
                                    <input class="button is-primary is-medium" type="submit" value="Enviar">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <app-modal ref="modal"></app-modal>
        </div>
        <app-foot></app-foot>
    </div>

    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase-firestore.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="js/datepicker.js" ></script>
    <script src="js/firebase.js"></script>
    <script src="js/vue.min.js"></script>

    <script src="components/navbar.js"></script>
    <script src="components/footer.js"></script>
    <script src="components/modal.js"></script>

    <script>
        new Vue ({
            el:'#root',
            data:{
                email:'',
                celula: '',
                lider: '',
                asistente: '',
                tema: '1 - La palabra fuente de vida',
                lugar: '',
                dia: '',
                verbo: '1 - Orar',
                obs: '',
                bautizados: '',
                amigos: '',
                ninos: '',
                inter: '',
                ofrenda: '',
                elaborado: '',
                submitted: false,
                bauRows: [],
                amiRows: [],
                ninRows: [],
                intRows: [],
                obsRows: [],
                total: 0,
                db:'',
                celulaData:''
            },
            created: function(){
                var vm = this;
                firebase.auth().onAuthStateChanged(function(user) {
                    if (user) {
                        vm.email = user.email;
                    } 
                });
                this.db = firebase.firestore();
            },
            mounted: function() {
                var vm = this;
                $(document).ready(function() {
                    $("#datepicker").datepicker({
                        onSelect: function() {
                        vm.dia = $("#datepicker:text").val();
                        }
                    });
                });
                vm.Modal = vm.$refs.modal;
            },
            methods: {
                SendEmail: function() {
                    var vm = this;
                    emailjs.send("rcmcontrol", "reporte_semanal", {
                            Celula: vm.celula,
                            Lider: vm.lider,
                            Asistente: vm.asistente,
                            Verbo: vm.verbo,
                            Tema: vm.tema,
                            Lugar: vm.lugar,
                            Dia: vm.dia,
                            BauRows: vm.bauRows,
                            AmiRows: vm.amiRows,
                            NinRows: vm.ninRows,
                            IntRows: vm.intRows,
                            ObsRows: vm.obsRows,
                            Total: vm.total,
                            Ofrenda: vm.ofrenda,
                            Elaborado: vm.elaborado,
                            Email: vm.email
                        })
                        .then(function(response) { console.log("SUCCESS. status=%d, text=%s", response.status, response.text);
                            vm.Modal.MailSent()
                            vm.SaveData()
                        }, function(err) { console.log("FAILED. error=", err);
                            vm.Modal.MailFail('Revisa tu conexión a internet ó intentalo mas tarde!')
                        });
                },
                SaveData: function(){
                    var vm = this
                    vm.celulaData.Reportes.push({
                        vervo: vm.verbo,
                        tema: vm.tema,
                        direccion: vm.lugar,
                        dia: vm.dia,
                        bautizados: vm.bauRows.length,
                        amigos: vm.amiRows.length,
                        ninos: vm.ninRows.length,
                        intermedios: vm.intRows.length,
                        observaciones: vm.obsRows.length,
                        ofrenda: vm.ofrenda,
                        elavorado: vm.elaborado
                    });
                    
                    this.CelRef.set(vm.celulaData).then(function () {
                        console.log('status saved');
                    }).catch(function (erro) {
                        console.log('Got Erro');
                        console.log(erro);
                    });
                },
                LoadData: function () {
                    var vm = this
                    vm.Modal.modalActive = 'is-active';
                    vm.CelRef = vm.db.collection("Iglesias").doc(vm.email).collection("Celulas").doc(vm.celula);
                    vm.CelRef.get().then(function(doc){
                        if(doc.exists){
                            vm.celulaData = doc.data();
                            setTimeout(function(){
                                vm.lider = vm.celulaData.Lider.nombre;
                                vm.asistente = vm.celulaData.Asistente.nombre;
                                vm.SendEmail();
                            }, 1000);
                        }else{
                            console.log('Document not Exists');
                            vm.Modal.MailFail('Aún no has mandado tu reporte Cuatrimestral, por lo que no podras mandar este Reporte');
                        }
                    });
                },
                AddRow: function(name, list) {
                    list.push({ name: name});
                    this.Clean()
                },
                removeRow: function(row, list) {
                    Vue.delete(list, row);
                    this.Clean();
                },
                Clean: function() {
                    this.bautizados = '';
                    this.amigos = '';
                    this.ninos = '';
                    this.inter = '';
                    this.obs = '';
                    this.total = this.bauRows.length + this.amiRows.length + this.ninRows.length + this.intRows.length + this.obsRows.length;
                }
            }
        })
    </script>

</body>
</html>